*,*::before,*::after{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url('../../../public/assets/bg/bg.jpg');
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}