.counter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 48px 0px;
}

.counter__show {
    font-size: 64px;
    font-weight: bolder;
    border: 2px solid black;
    margin-bottom: 32px;
    padding: 16px 32px;
    border-radius: 8px;
}

.counter__control {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.counter__increment {
    outline: none;
    border: none;
    border-radius: 8px;
    background-color: green;
    font-size: 18px;
    padding: 8px 16px;
    margin-right: 16px;
    cursor: pointer;
}

.counter__increment:hover {
    background-color: darkgreen;
}

.counter__decrement {
    outline: none;
    border: none;
    border-radius: 8px;
    background-color: red;
    font-size: 18px;
    padding: 8px 16px;
    cursor: pointer;
}

.counter__decrement:hover {
    background-color: darkred;
}

.counter__multiply{
    outline: none;
    border: none;
    border-radius: 8px;
    background-color: violet;
    font-size: 18px;
    padding: 8px 16px;
    cursor: pointer;
}

.counter__multiply:hover{
    background-color: darkviolet;
}

.counter__nullean{
    outline: none;
    border: none;
    border-radius: 8px;
    background-color: orange;
    font-size: 18px;
    padding: 8px 16px;
    cursor: pointer;
}

.counter__nullean:hover{
    background-color: darkorange;
}

.counter__control> button:not(:last-of-type){
    margin-right: 16px;
}