.created-by {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.created-by__link {
    text-decoration: none;
    color: #b4bf04;
    transition: color 128ms linear;
}

.created-by__link:hover{
    color: #798d21;
}