*,
*::before,
*::after {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #353b48;
}

.header {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #2f3640;
    padding: 12px 100px;
}

.logo {
    width: 64px;
    height: auto;
}

.logo__img {
    width: 100%;
    height: auto;
    object-fit: contain;
    filter: drop-shadow(0px 0px 6px rgb(17, 0, 255));
}

.navbar__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    list-style-type: none;
}

.navbar__item {
    position: relative;
    display: flex;
}

.navbar__item::before{
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 100%;
    background-color: #222f3e;
    transform: rotate(32deg) skew(-32deg);
    border-radius: 8px;
    transition: width 128ms linear;
}

.navbar__item:hover::before{
    width: 100%;
}

.navbar__item:not(:last-of-type){
    margin-right: 16px;
}

.navbar__link {
    text-decoration: none;
    padding: 6px 12px;
    color: #ffffff;
    z-index: 1;
}

.search{
    max-width: 150px;
}

.search_input{
    width: 100%;
    height: auto;
    outline: 0px;
    border: 0px;
    border-radius: 6px;
    padding: 6px 12px;
}