.navbar {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background-color: #152732;
    padding: 24px;
}

.navbar__list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.navbar__item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.navbar__item:not(:last-of-type) {
    margin-right: 32px;
}

.navbar__link {
    text-decoration: none;
    color: #ffffff;
}

.navbar__item-badge {
    width: 20px;
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(153, 153, 153, 0.25);
    border-radius: 50%;
    font-size: 12px;
    color: #ffffff;
    margin-left: 8px;
}