.search {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.search__input {
    min-width: 333px;
    background-color: #f5f5f5;
    border: 1px solid #e0e0e0;
    outline: none;
    padding: 10px;
}

.search__button {
    background-color: #152732;
    border: 1px solid #152732;
    color: #ffffff;
    padding: 10px 36px;
    cursor: pointer;
}