.search {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.search__input {
    min-width: 333px;
    background-color: #f5f5f5;
    border: 1px solid #e0e0e0;
    outline: none;
    padding: 10px;
    transition: background-color 128ms linear;
}

.search__input:focus {
    background-color: transparent;
}

.search__button {
    background-color: #152732;
    border: 1px solid #152732;
    color: #ffffff;
    padding: 10px 36px;
    cursor: pointer;
    transition: background-color 128ms linear, border 128ms linear;
}

.search__button:hover {
    background-color: rgb(40, 80, 100);
    border: 1px solid rgb(40, 80, 100);
}